[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-strategy-management.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-strategy-management.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-strategy-management.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-strategy-management.git
[submodule "data/library"]
	path = data/library
	url = https://github.com/quanttide/quanttide-library-of-strategy-management.git
[submodule "data/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-strategy-management.git
