[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-strategy-management.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-context-of-strategy-journal.git
